body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-container, .image-container {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 1 / 1;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.video-container2 {
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 2 / 1;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

.buttons {
    margin-top: 20px;
}

.nav-btn, .home-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.nav-btn:hover, .home-btn:hover {
    background-color: #0056b3;
}
