body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

iframe {
    width: 60%; 
    height: auto;
    /* margin: 20px 0; */
}

.buttons {
    margin-top: 20px;
}

.nav-btn, .home-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.nav-btn:hover, .home-btn:hover {
    background-color: #0056b3;
}
